.wrapper {
  position: relative;
  background-color: var(--main-bg-color);
  color: var(--text-color);
}

/* header */

header {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  height: 50px;
  padding: 0 10px;

  background-color: var(--secodary-bg-color);
  box-shadow: 0px 0 6px #000;
  z-index: 1;
}

.logo {
  font-size: 26px;
}

.desktop {
  display: flex;
  justify-content: space-between;
  width: 360px;
}

.theme {
  cursor: pointer;
  transition: .15s ease-in;
}

.theme:hover{
  color: var(--brand-color);
}

label {
  cursor: pointer;
}

.tablet {
  display: none;
}

.phone {
  display: none;
}

/* main */

main {
  max-width: 1080px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 70px 10px;
}

h1 {
  margin-bottom: 20px;
  font-size: 40px;
  text-align: center;
  animation: color-change 20s infinite;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 14px;
}

.image:nth-child(12n + 1), img:nth-child(12n +10) {
  grid-column: span 3;
  grid-row: span 3;
  align-self: stretch;
}

.image {
  width: 100%;
  cursor: pointer;
  transition: .15s ease-in;
}

.image:hover {
  filter: brightness(.9);
}

.choosed {
  filter: brightness(.9);
}

/* footer */

footer {
  position: fixed;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  height: 50px;
  padding: 0 10px;

  background-color: var(--secodary-bg-color);
  box-shadow: 0px 0 6px #000;
}

.contacts, .social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 260px;
}

.contacts a {
  color: var(--text-color);
  transition: .15s ease-in;
}

.contacts a:hover {
  color: var(--brand-color);
}

svg {
  width: 34px;
  height: 34px;
  fill: var(--text-color);
  cursor: pointer;
  transition: .15s ease-in;
}

svg:hover {
  fill: var(--brand-color);
}

svg.icon1 {
  width: 28px;
}

svg.icon4 {
  width: 26px;
}

/* modal */


.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  visibility: hidden;
  justify-content: center;
  align-items: center;

  width: 100vw;
  height: 100vh;
  background-color: rgba(51, 51, 51, 0.5);
  z-index: 2;
}

.modal {
  position: relative;
  display: flex;
  align-items: center;
  width: 900px;
  height: 380px;
  padding: 10px;
  background-color: var(--main-bg-color);
}

.modal img {
  width: fit-content;
  height: 360px;
  margin-right: 20px;
}

.modal svg {
  position: absolute;
  top: 0;
  right: 0;
  width: 36px;
  height: 36px;
  transition: none;
}

.modal h2 {
  text-align: center;
  line-height: 2;
}

.opened {
  visibility: visible;
}