
/* header */

.wrapper {
  position: relative;
  background-color: var(--main-bg-color);
}

header {
  position: fixed;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--secodary-bg-color);
}

.desktop {
  display: flex;
}
.tablet {
  display: none;
}
.phone {
  display: none;
}

/* main */

main {
  min-height: 100vh;
  padding: 50px 0;
}

h1 {
  text-align: center;
  animation: header-animation 300s infinite;
}

@keyframes header-animation {
  0% {
  color: var(--text-color);
  }
  25% {
    color: pink;
  }
  50% {
    color: lightgreen;
  }
  75% {
    color: lemonchiffon;
  }
  100% {
    color: lightskyblue;
  }
}

.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

.image:nth-child(12n + 1), img:nth-child(12n +10) {
  grid-column: span 3;
  grid-row: span 3;
  align-self: stretch;
}

.image {
  width: 100%
}

/* footer */

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--secodary-bg-color);

}

.contacts {
  display: flex;
  flex-direction: row
}

.contacts a {
  color: var(--text-color);
  text-decoration: none;
}

.social {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}

.social .icon1 {
  width: 32px;
  height: 26px;
}

.social .icon2 {
  width: 28px;
  height: 28px;
}

.social .icon3 {
  width: 34px;
  height: 21px;
}

.social .icon4 {
  width: 28px;
  height: 28px;
}

.social use {
  fill: var(--text-color);
}

/* modal */


.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  visibility: hidden;
  justify-content: center;
  align-items: center;
  background-color: rgba(51, 51, 51, 0.5);
}

.modal {
  position: relative;
  display: flex;
  align-items: center;
  width: 750px;
  height: 310px;
  padding: 5px;
  background-color: var(--main-bg-color);
}

.modal img {
  width: 500px;
  height: 300px;
  margin-right: 10px;
}

.modal svg {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
}

.modal h2 {
  text-align: center;
  line-height: 2;
}

.opened {
  visibility: visible;
}