@media (max-width: 1079px) {
  .desktop {
    display: none;
  }
  .tablet {
    display: flex;
    justify-content: space-between;
    width: 280px;
  }

  button {
    padding: 2px 4px;
    font-size: 14px;
    font-family: PTSans;
    color: var(--text-color);
    border: 1px solid var(--text-color);
    background: var(--main-bg-color);
    transition: .15s ease-in;
  }

  button:hover {
    color: var(--text-color);
    border: 1px solid var(--text-color);
    background: var(--brand-color);
  }

  button[disabled] {
    opacity: .5;
  }

  .gallery {
    grid-template-columns: repeat(3, 1fr);
  }

  .image:nth-child(3n + 1) {
    grid-column: span 2;
    grid-row: span 2;
    align-self: stretch;
  }

  .modal {
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    width: 520px;
    height: 460px;
    padding-top: 20px;
  }

  .modal img {
    width: fit-content;
    height: 300px;
    margin-right: 0;
  }

  .modal p {
    font-size: 16px;
  }
}

@media (max-width: 639px) {
  .tablet {
    display: none;
  }
  .phone {
    display: block;
  }

  select {
    font-size: 16px;
    color: var(--text-color);
    background: var(--main-bg-color);
    border: 1px solid var(--text-color);
  }

  main {
    max-width: 1080px;
    min-height: 100vh;
    margin: 0 auto;
    padding: 70px 10px 86px 10px;
  }

  .gallery {
    grid-gap: 8px;
  }

  .image:nth-child(3n + 1) {
    grid-column: span 1;
    grid-row: span 1;
  }
  .image:nth-child(4n + 1) {
    grid-column: span 3;
    grid-row: span 3;
  }

  footer {
    flex-direction: column;
    justify-content: space-evenly;
    height: 76px;
  }

  .modal {
    width: 350px;
    height: 370px;
  }

  .modal img {
    width: fit-content;
    height: 200px;
    margin-right: 0;
  }

  .modal h2 {
    text-align: center;
    line-height: 1.2;
  }

  .modal p {
    font-size: 15px;
  }
}