@media (max-width: 1080px) {
  .desktop {
    display: none;
  }
  .tablet {
    display: block;
  }

  button[disabled] { 
    background-color: darkslategray;
  }

  .gallery {
    grid-template-columns: repeat(3, 1fr);
  }
  image:nth-child(3n + 1) {
    grid-column: span 2;
    grid-row: span 2;
    align-self: stretch;
  }
}

@media (max-width: 640px) {
  .tablet {
    display: none;
  }
  .phone {
    display: block;
  }

  image:nth-child(3n + 1) {
    grid-column: span 1;
    grid-row: span 1;
  }
  image:nth-child(4n + 1) {
    grid-column: span 3;
    grid-row: span 3;
  }
}